.movie__content {
  padding: 40px;
  color: white;
}

.movie__title {
  padding: 0;
  font-size: 40px;
  margin: 16px 0;
}

.movie__details {
  font-weight: 600;
  font-size: 18px;
}

.movie__vote_average {
  font-size: 20px;
}

.movie__overview {
  font-size: 20px;
  line-height: 1.5;
}